* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    background-color: rgba(0, 0, 0, 0.947);
    margin: 0px;
}


nav{
    width: 99.9vw;
}
.Header {
    padding: 10px;
    background-color: rgb(76, 79, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 40px;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .header img, .Resume .header img{
    margin-top: 45px;
}
.header img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

nav h2 {
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul a {
    text-decoration: none;
    color: line;
    font-size: x-large;
    margin-right: 30px;
}

nav a,
ul a {

    background-image: linear-gradient(45deg, rgb(55, 194, 215), rgb(83, 206, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-image 0.6s ease-in-out, color 0.6s ease-in-out, border 0.6s ease-in-out, background-color 0.6s ease-in-out, ;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    display: inline-block;
}

ul a:hover {
    background-image: linear-gradient(45deg, rgb(17, 141, 230), rgb(13, 203, 146));
    color: #3bdeff;
    border: 1px solid #3bdeff;
    background-color: rgba(59, 222, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    background-image: linear-gradient(45deg, rgb(17, 141, 230), rgb(13, 203, 146));
    color: #3bdeff;
    background-color: rgba(59, 222, 255, 0.2);
}


main {
    margin-top: 110px;
    color: white;
}

.front-page {
    display: flex;
    flex-direction: row;
}

.front-page div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-right: 60px;
    margin-left: 60px;
}

.front-page img {
    width: 600px;
    max-height: 500px;
    border: 1px solid black;
    border-radius: 177px;
    box-shadow: 10px 10px 10px rgba(179, 167, 167, 0.3);
    /* max-width: 100%;               */
}

.front-page h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.front-page p {
    font-size: 30px;
    transition: color 0.2s ease-in-out;
}


.front-page h2,
.front-page p {
    background-image: linear-gradient(45deg, rgb(46, 102, 214), rgb(30, 153, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-image 0.6s ease-in-out;
}

.front-page h2:hover,
.front-page p:hover {
    background-image: linear-gradient(45deg, blue, green);
}

.separate {
    margin-top: 120px;
    border: 1px solid rgb(67, 66, 66);
}

.skills {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    color: white;
}

.skills .container-1 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.skills h1 {
    font-size: 50px;
    color: rgb(56, 250, 85);
}

.skills h2 {
    padding: 20px;
    font-size: 25px;
    color: gray;
}

.skills .cards {
    background-color: bisque;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(179, 167, 167, 0.3);
}

.cards p {
    color: gray;
}

.cards h3 {
    margin: 10px;
    color: cyan;
}

.cards img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 177px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .titles {
    text-align: center;
    margin-top: 50px;
}

.titles h1 {
    font-size: 50px;
    padding: 20px;
    color: rgb(56, 250, 85);
}

.titles h2 {
    font-size: 25px;
    color: gray;
}

.container-2 {
    position: relative;
    width: 90%;
    margin-top: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: black;
    display: flex; 
    gap: 20px;  
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.container-2 .contents {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    width: 700px;  
    white-space: normal; 
    padding: 10px;
    border: 1px solid gray;  
    border-radius: 10px; 
    background-color: rgb(97, 95, 95);  
    box-sizing: border-box; 
    animation: slideIn 0.9s ease-in;
}

.container-2 h4:hover {
    cursor: pointer;
}

.container-2 .contents img {
    width: 600px;
    height:500px; 
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.container-2 .contents h4,
.container-2 .contents p {
    color: black;
    text-align: center;
    word-wrap: break-word;  
    margin: 10px 0;  
    width: 100%;  
}

.container-2::-webkit-scrollbar {
    height: 0px;
}

.container-2::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.container-2::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.container-2::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container-2 .scroll-indicator{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(22, 188, 22);
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    right: 20px;
    background-color: rgba(227, 210, 210, 0.597);
    color: rgb(30, 222, 78);
    font-size: 25px;
    transform: translateY(-50%);
    opacity: .8;
    animation: pulse 2s ease-out infinite;
}

.Resume {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Resume h1 {
    margin-top: 50px;
    font-size: 50px;
    padding: 20px;
    color: rgb(56, 250, 85);
}

.Resume h2 {
    margin-bottom: 30px;
    font-size: 25px;
    color: gray;
}

.container-3 .item{
    overflow-x:hidden;
    overflow-y: auto;
    height: 500px;
    width: 700px;
    white-space: nowrap;
    border: 1px solid white;
    background-color: gray;
    border-radius: 20px;
}

.container-3 .item::-webkit-scrollbar{
    display: none;
}

.container-3 a{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid cyan;
    border-radius: 20px;
    text-decoration: none;
}
.container-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(52, 50, 50);
    border: 1px solid cyan;
    color: cyan;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download-link:hover {
    background-color: cyan;
    color: rgb(41, 40, 40);
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact h1 {
    margin-top: 50px;
    font-size: 50px;
    padding: 20px;
    color: rgb(56, 250, 85);
}

.contact p{
    color: gray;
    font-size: 20px;
}

.contact h2 {
    margin-bottom: 30px;
    font-size: 25px;
    color: rgb(158, 151, 151);
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-item {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Space between each item */
}

.logo-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid gray;
}

.logo-item a, .logo-item p {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.contact .container-4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-card{
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(231, 102, 102);
    padding: 10px;
    background-color: rgb(52, 50, 50);
}

label {
    margin-top: 10px;
    color: #817c7c;    
    text-align: left; 
    width: 100%; 
    display: block;
}

input, textarea {
    width: 600px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: white;
    background-color: rgb(102, 99, 99);;
}

textarea {
    resize: none;
}

button {
    margin-top: 20px;
    margin-left: 14px;
    padding: 10px 20px;
    border: 1px solid #803636;
    border-radius: 5px;
    background-color: #333;
    color: #803636;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #803636;
    color: white;
}

footer {
    margin-top: 100px;
    padding: 10px;
    font-size: large;
    background-color: rgb(76, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 40px;
    bottom: 0;
    z-index: 1000;
}

/* Media Queries for Responsive Design */
@media (max-width: 1500px) {
    .front-page img{
        width: 500px;
        max-height: 400px;
    }
}

@media (max-width: 1290px)
{
    .front-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .front-page div{
        width: 80%;
    }
    .front-page img{
        margin-top: 10px;
    }

}

@media (max-width: 1030px){
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Header{
        height: auto;
    }
}

@media (max-width: 770px){
    .front-page div{
        width: 89%;
    }
    .front-page h2{
        font-size: 40px;
    }
    .front-page p{
        font-size: 25px;
    }
}
